.modal-content {
    height: 400px;
}

.h2 {
    font-weight: bold;
}

.modalText {
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}
   
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}
   
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}